.frame__button {
  position: absolute;
  width: 2vw;
  height: 2vw;
  z-index: 1;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: 0.25s ease-out;
  cursor: pointer;
}

.frame__button_hidden {
  display: none;
}

.frame__button:active {
  background-size: 2vw;
}

.frame__button_copy {
  bottom: 0;
  right: 0;
  background-image: url('./assets/copy.svg');
  background-size: 1.5vw;
}

.frame__button_delete {
  top: 0;
  right: 0;
  background-image: url('./assets/delete.svg');
  background-size: 1.5vw;
}

.frame__button_move {
  bottom: 0;
  left: 0;
  background-image: url('./assets/move.svg');
  background-size: 1.5vw;
}

.frame-list__button_add {
  width: 8vw;
  height: 5vh;
  flex-shrink: 0;
  border: 3px solid #333333;
  font-family: 'Montserrat', sans-serif;
  font-size: 2vh;
  color: #ffffff;
  background-color: #33333380;
  cursor: pointer;
}

.frame-list__button_add:hover {
  color: #bdb76b;
}
