.frame-list__container {
  width: 9vw;
  margin-right: 0.5vw;
  justify-content: flex-start;
  overflow-x: hidden;
  overflow-y: scroll;
}

.frame-list__container::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0.5vw;
}

.frame-list__container::-webkit-scrollbar-thumb {
  background-color: #333333;
}

.frame-list__container::-webkit-scrollbar-track {
  background-color: #33333340;
}
