.placeholder {
  position: relative;
  width: 8vw;
  height: 8vw;
  margin-bottom: 0.5vh;
  flex-shrink: 0;
  border: 3px dashed #bdb76b;
  background-color: #33333380;
}

.placeholder_hidden {
  display: none;
}
