.frame__container {
  --frame-size: 8vw;
  --border-width: 3px;
  position: relative;
  display: flex;
  width: var(--frame-size);
  height: var(--frame-size);
  margin-bottom: 0.5vh;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border: var(--border-width) solid #333333;
}

.frame__container_hidden {
  display: none;
}

.frame__container_active {
  border-color: #bdb76b;
}

.frame__container:hover > .frame__button {
  opacity: 1;
}

.frame__canvas {
  width: calc(var(--frame-size) - (var(--border-width) * 2));
  height: calc(var(--frame-size) - (var(--border-width) * 2));
  background-color: #5d5d5d;
  background-image: url(../../canvas/canvas.svg);
  image-rendering: pixelated;
}

.frame__index {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 2vw;
  height: 2vw;
  z-index: 1;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
  color: #ffffff;
}

.frame__index_hidden {
  display: none;
}
